
.applicantItem{
    padding: 10px 5px;
    border-radius: 2px;
}
.applicantInfo{
 display: flex;
 align-items: center;
 width: 100%;
}
.applicantProfile{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.applicantItem:hover{
    background-color: rgba(9, 69, 231, 0.123);
}
