.applicant{ 
     background-color: rgba(0, 175, 102, 0.158);
     min-height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0;
     margin: 0;
}
.top-control{
    width: 100%;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: static;
    z-index: 2;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchinput{
    border-radius: 50px;
    padding: 5px 15px;
    margin: 0 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    outline: none;
    border: 1px solid rgb(201, 201, 201);
}
.infoBox{
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px grey;

}
.devider{
    margin: 10px;
    box-shadow: 0px 0px 3px grey;
    width: 100%;
    padding: 30px;
    display: grid;
    place-items: center;

}
.lightButton{
    box-shadow: 0px 0px 3px grey;

}